<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/scss/main.scss" />
  </head>
  <body>
    <div class="container mt-96">
      <div class="flex flex-row p-4">
        <div class="boxes basis-1/2 px-2">
          <div class="boxes__item mb-4 bg-indigo-700 text-center text-white">
            <p class="paragraph">1</p>
          </div>
          <div class="boxes__item mb-4 bg-indigo-700 text-center text-[#fff]">
            <div class="paragraph">2</div>
          </div>
          <div
            class="boxes__item mb-4 bg-indigo-700 text-center text-white lg:[&:nth-child(3)]:hover:underline"
          >
            <div class="paragraph">3</div>
          </div>
        </div>
        <div
          class="text flex basis-1/2 border-fuchsia-50 border-b-orange-700 bg-orange-300 px-2 text-yellow-200"
        >
          <p class="m-auto [mask-type:luminance] hover:[mask-type:alpha]">
            Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
      <div></div>
      <div></div>
      <div>
        <div class="card bg-amber-600">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
          blanditiis, maxime voluptatem facere, molestiae accusantium quidem
          minus cupiditate nam ipsam ipsa debitis error! Veniam iure sequi
          officiis iusto, facilis maxime.
          <div>
            <button class="btn">Learn More</button>
          </div>
        </div>
      </div>
      <div class="mt-10 bg-coral">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus non
        facilis quas laudantium, repudiandae quisquam ducimus optio nobis, est
        excepturi vel vitae nisi? Est error veritatis distinctio ea maiores
        harum!
      </div>
      <div>
        <form action="">
          <input type="text" value="Lorem" />
        </form>
      </div>
    </div>

    <script type="module" src="/js/main.js"></script>
  </body>
</html>
