<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="./favicon.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <link rel="stylesheet" href="../scss/main.scss" />
  </head>
  <body>
    <div id="app">
      <div class="bg-black">
        <h1 class="mb-6 text-white">Title</h1>
        <p class="bg-gray-100 sm:bg-yellow-300 md:bg-green-300 mg:bg-pink-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
          voluptatibus, soluta, repellat quia qui quis quasi laboriosam ducimus
          cumque dolor, temporibus, fugit nemo tenetur ea totam voluptates quo
          vitae ipsa!
        </p>
        <blockquote>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat,
          error?
        </blockquote>
      </div>
    </div>
    <!-- <script type="module" src="/js/main.js"></script> -->
  </body>
</html>
