@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'typography';

@layer base {
  :root {
    --color-white: 255 255 255;
  }

  input {
    @apply border;
  }
}

@layer components {
  .card {
    @apply my-4 h-full cursor-pointer rounded-4xl border border-[#1819451a] p-4 text-black-light transition hover:shadow-md sm:m-4 xl:m-0;

    &__image {
      @apply relative mb-6 w-full rounded-4xl;
    }

    &__title {
      @apply title-three mb-2 text-black;
    }

    &__description {
      @apply paragraph-two mb-4;
    }

    &__date {
      @apply absolute top-4 left-4 flex h-14 w-14 flex-col items-center justify-center rounded-2xl bg-stone-100 p-2 text-center text-sm text-black;
    }
  }

  .btn {
    color: theme('colors.white.DEFAULT');
    background-color: theme('colors.primary');

    @apply rounded-xl px-6 py-3.5 text-lg font-bold;
  }
}

@layer utilities {
}
